@import "../../../styles.scss";

@mixin status-viewer($color: coral) {
  position: absolute;
  width: 5px;
  height: 5px;
  background: $color;
  margin: auto;
  border-radius: 100%;
}

@mixin staus-shower($color: red) {
  @keyframes breathe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes breathe2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  position: absolute;
  width: 5px;
  height: 5px;
  margin: auto;
  border-radius: 100%;
  background-color: $color;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 8px;
    height: 8px;
    background: $color;
    opacity: 0.3;
    border-radius: 100%;
    animation: breathe2 2s infinite;
  }
  &::after {
    content: "";
    position: absolute;
    top: -3.2px;
    left: -3px;
    z-index: 2;
    width: 12px;
    height: 12px;
    background: $color;
    opacity: 0.3;
    border-radius: 100%;
    animation: breathe 2s infinite;
  }
}

@mixin bell-blining {
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(0, 0px, 0);
  }
}
.dropdownAnimation {
  animation-name: dropdownAnimation;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}
.default-layout {
  height: $navbar-height;
  // border-bottom: 1px solid lightgray;
}

.nav-left-items {
  flex: 1 1;
}
.navbar-brand-logo {
  transition: 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  min-width: 14rem;
  padding: 1rem 2rem;
  .brand-logo {
    img {
      min-width: $image-logo-size;
      height: fit-content;
      object-fit: contain;
    }
    + .brand-logo-mini {
      display: none;
      img {
        min-width: $image-logo-mini-size;
        height: fit-content;
        object-fit: contain;
      }
    }
  }
}

.nav-items {
  margin-left: $margin-left;
  button {
    border: none;
    background-color: transparent;
    font-size: $icon-font-size;
    color: $icon-color;
  }
}

.search-field {
  display: flex;
  margin-left: $margin-left - 0.5rem;
  // background-color: red;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  form {
    .label-icon {
      color: $icon-color;
      margin-right: $margin-right;
    }
    input {
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }
}

.navbar-nav-right {
  min-width: 25rem;
  li {
    margin: 0 1rem;
    .dropdown-title {
      position: relative;
    }
    .drop-profile {
      padding: 0.2rem;
      .user-profile-img {
        width: 35px;
        border-radius: 50%;
        object-fit: contain;
      }
    }
    .profile-text {
      margin-left: $profile-text-margin-left;
      color: $icon-color;
    }
    a {
      text-decoration: none;
      color: $icon-color;
    }
  }
}
.dropdown {
}
.dropdown-menu {
  position: absolute;
  top: 50px;
  border: none;
  left: $dropdown-box-position-left;
  border-radius: 5px;
  box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
  @extend .dropdownAnimation;
}
.icon-setting {
  i {
    position: relative;
  }
  .message-online-status {
    @include status-viewer(green);
    opacity: 0.7;
  }
  .notification-online-status {
    @include status-viewer(purple);
    opacity: 0.7;
  }
  .alert-notification-status {
    @include staus-shower(red);
    opacity: 0.7;
  }
  .broadcast-notification-status {
    &.online {
      @include staus-shower(green);
      opacity: 0.7;
    }
    &.offline {
      @include staus-shower(red);
      opacity: 0.7;
    }
  }
  .online-icon {
    color: green;
  }

  .offline-icon {
    color: coral;
  }
}

.dropdown-toggle:not(#dropdownProfile) {
  &::after {
    display: none;
  }
}
@media (max-width: 960px) {
  .default-layout {
    position: fixed;
  }
  .dropdown {
    position: static !important;
  }
  .dropdown-menu {
    top: 70px;
    width: 98%;
    left: 10px !important;
    right: 20px;
  }
}
