.task-calender {
  margin: 0.5rem;
  // background-color: white;
  // border-radius: 10px;

  ::ng-deep .ngb-dp-header {
    background: #edb1b6;
    padding: 1rem;
    border: none;
  }
  ::ng-deep .ngb-dp-navigation-chevron {
    color: white;
  }
  ::ng-deep .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
    color: white;
  }
  ::ng-deep .ngb-dp-month:first-child .ngb-dp-week {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ::ng-deep ngb-datepicker {
    border: 1px solid #f1d5d5 !important;
    background-color: white !important;
    width: 100%;
  }
  ::ng-deep .ngb-dp-month {
    width: 100%;
  }
  ::ng-deep ngb-datepicker-month {
    width: 100%;
  }
}

:host {
  flex: 1 1;
}
