<div class="body-scrollable-container">
  <app-navbar></app-navbar>
  <div class="container-wrapper">
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
    <h2>Test</h2>
  </div>
</div>
