<nav class="sidebar sidebar-toggle" id="sidebar">
  <ul class="nav d-flex flex-column side-nav-ul">
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Dashboard</span>
          <i class="fas fa-home"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Register Student</span>
          <i class="far fa-registered"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Payment</span>
          <i class="far fa-money-bill-alt"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Marks sheet</span>
          <i class="fas fa-table"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Calender</span>
          <i class="far fa-calendar-plus"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Statistic Overview</span>
          <i class="fas fa-chart-bar"></i>
        </div>
      </a>
    </li>
  </ul>
</nav>
