@import "../../../styles.scss";
#sidebar {
  transition: 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  position: fixed;
  margin-top: $navbar-height;
  height: 100vh;
  width: $sidebar-width-lg;
  background-color: white;
  margin-left: -1rem;

  // padding: 1rem;
  // border-right: 1px solid lightgray;

  .side-nav-ul {
    margin-top: 3rem;
  }
  .nav-sidebar-profile {
    overflow: hidden;
    padding: 0.4rem 0.5rem;

    transition: 0.45s cubic-bezier(0.19, 1, 0.22, 1) 0s;

    &:hover {
      background-color: darken(white, 1%);
      // opacity: 0.75;
    }
  }
  .seach-form-field {
    padding: 0.1rem 0.1rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    .search-field {
      width: 10rem !important;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }
  .list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      color: darken(gray, 2%);

      font-size: 1rem;
    }
    span {
      width: 10rem;
      color: #333333;
    }
  }
}

@media (min-width: 980px) {
  .nav-side-search-bar {
    display: none !important;
  }
}

@media (max-width: 860px) {
  .seach-form-field {
    border: none !important;
  }
}
