<nav class="sidebar sidebar-toggle ml-0" id="sidebar">
  <div class="top-profile-picture d-none">
    <div class="user-profile">
      <img src="assets/images/face2.jpg" alt="profile" />
      <div class="user-profile-names">
        <h6>JOHN WICK</h6>
        <p class="lead m-0">Admin</p>
      </div>
      <i class="fa fa-check" aria-hidden="true"></i>
    </div>
  </div>
  <ul class="nav d-flex flex-column side-nav-ul">
    <li class="nav-item nav-sidebar-profile nav-side-search-bar">
      <a href="javascript:;" class="nav-link">
        <div class="list-items seach-form-field">
          <form class="sidebar-span-item">
            <input type="text" class="search-field" placeholder="search name" />
          </form>
          <i class="fas fa-search"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Dashboard</span>
          <i class="fas fa-home"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Register Student</span>
          <i class="far fa-registered"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Payment</span>
          <i class="far fa-money-bill-alt"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Marks sheet</span>
          <i class="fas fa-table"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Calender</span>
          <i class="far fa-calendar-plus"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-sidebar-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span class="sidebar-span-item">Statistic Overview</span>
          <i class="fas fa-chart-bar"></i>
        </div>
      </a>
    </li>
  </ul>
</nav>
