<nav class="sidebar" id="sidebar">
  <ul class="nav d-flex flex-column">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span>Dashboard</span>
          <i class="fas fa-home"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span>Register Student</span>
          <i class="far fa-registered"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span>Payment</span>
          <i class="far fa-money-bill-alt"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span>Marks sheet</span>
          <i class="fas fa-table"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span>Calender</span>
          <i class="far fa-calendar-plus"></i>
        </div>
      </a>
    </li>
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="list-items">
          <span>Statistic Overview</span>
          <i class="fas fa-chart-bar"></i>
        </div>
      </a>
    </li>
  </ul>
</nav>
