@import "../../../styles.scss";

#sidebar {
  transition: 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  position: fixed;
  margin-top: $navbar-height;
  height: 100vh;
  width: $sidebar-width-lg;
  background-color: white;
  margin-left: -1rem;
  z-index: 1;

  // padding: 1rem;
  border-right: 1px solid lightgray;

  .top-profile-picture {
    padding: 0.5rem;
    .user-profile {
      border: 1px solid lightgray;
      border-radius: 6px;
      display: flex;
      padding: 1rem;
      align-items: center;
      img {
        width: 2.5rem;
        height: fit-content;
        border-radius: 50%;
      }
      .user-profile-names {
        width: 100%;
        text-align: center;
        h6 {
          margin-bottom: 0;
          font-size: 1rem;
        }
        p {
          color: #525151;
          font-size: 0.9rem;
        }
      }
      i {
        color: white;
        background-color: lightgreen;
        padding: 0.3rem;
        font-size: 0.7rem;
        border-radius: 50%;
      }
    }
  }
  .side-nav-ul {
    margin-top: 1rem;
  }
  .nav-sidebar-profile {
    overflow: hidden;
    padding: 0.4rem 0.5rem;

    transition: 0.45s cubic-bezier(0.19, 1, 0.22, 1) 0s;

    &:hover {
      background-color: darken(white, 1%);
      // opacity: 0.75;
    }
  }
  .seach-form-field {
    padding: 0.1rem 0.1rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    .search-field {
      width: 10rem !important;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }
  .list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      color: darken(gray, 2%);

      font-size: 1rem;
    }
    span {
      width: 10rem;
      color: #333333;
    }
  }
}

@media (min-width: 980px) {
  .nav-side-search-bar {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .seach-form-field {
    border: none !important;
  }
}

@media (max-width: 520px) {
  .top-profile-picture {
    display: block !important;
    padding: 0;
    .user-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px !important;

      border: none !important;
      .user-profile-names,
      i {
        display: none;
      }
    }
  }
}
