$navbar-height: 4rem;
$sidebar-width-lg: 15rem;
$sidebar-width-icon: 5rem;
$sidebar-width-mini: 12rem;

$image-logo-size: 7rem;
$image-logo-mini-size: 2rem;
$icon-color: gray;
$icon-font-size: 1.1rem;
$margin-right: 1rem;
$margin-left: 1.5rem;
$profile-text-margin-left: 1rem;
$dropdown-box-position-left: -50px;

:host-context(.sidebar-only-icon) {
  .navbar-brand-logo {
    transition: 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    min-width: 5rem;
  }
  .brand-logo-mini {
    display: block !important;
  }
  .brand-logo {
    display: none;
  }
  #sidebar {
    .nav-sidebar-profile {
      overflow: visible;
      width: 19rem;
      .list-items {
        i {
          color: darken(white, 1%);
          background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
          border-radius: 100%;
        }
      }

      &:hover {
        // background-color: lightgray;
        opacity: 1;
        border-radius: 0 5px 5px 0;
        -webkit-box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
        box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
        .sidebar-span-item {
          display: block;
          position: absolute;
          left: 5rem;
          padding: 0 2rem;
          min-width: 10rem;
          width: 18rem;
          z-index: 3;
        }
      }
    }
    overflow: visible;
    transition: 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: $sidebar-width-icon;
    .sidebar-span-item {
      transition: 0.65s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      display: none;
    }
  }
}
