$navbar-height: 4rem;
$sidebar-width-lg: 15rem;
$sidebar-width-icon: 5rem;
$sidebar-width-mini: 12rem;

$image-logo-size: 7rem;
$image-logo-mini-size: 2rem;
$icon-color: gray;
$icon-font-size: 1.1rem;
$margin-right: 1rem;
$margin-left: 1.5rem;
$profile-text-margin-left: 1rem;
$dropdown-box-position-left: -50px;
