<div class="admin-tasks">
  <div class="admin-task-panel">
    <h6>Todo List</h6>
    <ul *ngFor="let todo of todos">
      <li><input type="checkbox" />{{ todo.title }}</li>
    </ul>
    <div class="admin-task-input">
      <form (ngSubmit)="submitForm()" [formGroup]="TodoFormGroup">
        <input type="text" formControlName="Todotitle" />
        <div class="error-label">
          <p *ngIf="checkTitle()" class="lead text-danger">
            *title is required
          </p>
        </div>
        <button
          [disabled]="!TodoFormGroup.valid"
          type="submit"
          class="btn btn-danger btn-sm mt-4 btn-sub"
        >
          Add Task
        </button>
      </form>
    </div>
  </div>
</div>
